{{ form_start(form) }}
<div class="items-center flex flex-col flex-wrap">
	<div class="flex items-center justify-center w-full my-5">
		{{ form_label(form.category, "Je recherche", {
                label_attr: {
                    class: "block sm:text-lg text-gray-800"
                }
    		}) }}
		<div class="mt-1 relative rounded-md shadow-sm ml-4 w-3/6 sm:w-2/6 max-w-xs">
			{{ form_widget(form.category, {
                    attr: {
                        class: "p-2 focus:border-orange w-20 border-gray-500 bg-white rounded-md border-2 w-full",
                        placeholder: "Rechercher",
                    }
                }) }}
		</div>
	</div>
	<p class="block sm:text-lg text-gray-800 mt-4">Avec les dimensions (cm):</p>
	<div class="justify-center flex flex-row flex-wrap mx-1 mb-4">
		<div class="flex relative items-end mx-6">
			{{ form_label(form.minHeight, "Hauteur", {
                label_attr: {
                    class: "block text-sm sm:text-base text-gray-800"
                }
            }) }}
			<div class="flex flex-col items-center mt-1 relative rounded-md shadow-sm ml-2">
				<p class="text-sm text-gray-700">min</p>
				{{ form_widget(form.minHeight, {
                    attr: {
                        class: "px-2 focus:border-orange w-20 border-gray-500 bg-white text-sm rounded-md border-2",
                        placeholder: "0",
                    }
                }) }}
			</div>
			<div class="flex flex-col items-center mt-1 relative rounded-md shadow-sm ml-2">
				<p class="text-sm text-gray-700">max</p>
				{{ form_widget(form.maxHeight, {
                    attr: {
                        class: "px-2 focus:border-orange w-20 border-gray-500 bg-white text-sm rounded-md border-2",
                        placeholder: "0",
                    }
                }) }}
			</div>
		</div>

		<div class="flex relative items-end mx-6">
			{{ form_label(form.minWidth, "Largeur", {
                label_attr: {
                    class: "block text-sm sm:text-base text-gray-800"
                }
            }) }}
			<div class="flex flex-col items-center mt-1 relative rounded-md shadow-sm ml-2">
				<p class="text-sm text-gray-700">min</p>
				{{ form_widget(form.minWidth, {
                    attr: {
                        class: "px-2 focus:border-orange w-20 border-gray-500 bg-white text-sm rounded-md border-2",
                        placeholder: "0",
                    }
                }) }}
			</div>
			<div class="flex flex-col items-center mt-1 relative rounded-md shadow-sm ml-2">
				<p class="text-sm text-gray-700">max</p>
				{{ form_widget(form.maxWidth, {
                    attr: {
                        class: "px-2 focus:border-orange w-20 border-gray-500 bg-white text-sm rounded-md border-2",
                        placeholder: "0",
                    }
                }) }}
			</div>
		</div>

		<div class="flex relative items-end mx-6">
			{{ form_label(form.minDepth, "Profondeur", {
                label_attr: {
                    class: "block text-sm sm:text-base text-gray-800"
                }
            }) }}
			<div class="flex flex-col items-center mt-1 relative rounded-md shadow-sm ml-2">
				<p class="text-sm text-gray-700">min</p>
				{{ form_widget(form.minDepth, {
                    attr: {
                        class: "px-2 focus:border-orange w-20 border-gray-500 bg-white text-sm rounded-md border-2",
                        placeholder: "0",
                    }
                }) }}
			</div>
			<div class="flex flex-col items-center mt-1 relative rounded-md shadow-sm ml-2">
				<p class="text-sm text-gray-700">max</p>
				{{ form_widget(form.maxDepth, {
                    attr: {
                        class: "px-2 focus:border-orange w-20 border-gray-500 bg-white text-sm rounded-md border-2",
                        placeholder: "0",
                    }
                }) }}
			</div>
		</div>

	</div>
	<div class="flex items-center ml-2 my-5">
		{{ form_label(form.price, "Prix maximum (€)", {
                label_attr: {
                    class: "block text-sm sm:text-base text-gray-800"
                }
    		}) }}
		<div class="mt-1 relative rounded-md shadow-sm ml-2">
			{{ form_widget(form.price, {
                    attr: {
                        class: "px-2 focus:border-orange w-20 border-gray-500 bg-white text-sm rounded-md border-2",
                        placeholder: "0",
                    }
                }) }}
		</div>
	</div>

	<div class="flex items-center ml-2 mt-2">
		<button id="btn" class="mx-auto my-2 py-2 px-4 border border-transparent rounded-md text-white bg-orange hover:bg-orange-light focus:outline-none">
			{{ button_label|default('Rechercher') }}
		</button>
	</div>
</div>

{{ form_end(form) }}
