{{ form_start(form) }}
<div class="items-center flex flex-col flex-wrap">
	<div class="flex items-center ml-2">
		{{ form_label(form.category, "Je recherche", {
                label_attr: {
                    class: "block font-medium text-gray-700 "
                }
    		}) }}
		<div class="mt-1 relative rounded-md shadow-sm ml-2">
			{{ form_widget(form.category, {
                    attr: {
                        class: "focus:ring-indigo-500 focus:border-indigo-500 w-20 border-slate-800 bg-slate-200 rounded-md border-solid border-2",
                        placeholder: "Rechercher",
                    }
                }) }}
		</div>
	</div>
	<p class="text-gray-700 mt-4">Avec les dimensions (cm):</p>
	<div class="justify-center flex flex-row flex-wrap mx-1">
		<div class="flex relative items-end">
			{{ form_label(form.minHeight, "Hauteur", {
                label_attr: {
                    class: "block text-sm font-medium text-gray-700 "
                }
            }) }}
			<div class="flex flex-col items-center mt-1 relative rounded-md shadow-sm ml-2">
				<p>min</p>
				{{ form_widget(form.minHeight, {
                    attr: {
                        class: "focus:ring-indigo-500 focus:border-indigo-500 w-20 sm:text-sm border-slate-800 bg-slate-200 rounded-md border-solid border-2",
                    }
                }) }}
			</div>
			<div class="flex flex-col items-center mt-1 relative rounded-md shadow-sm ml-2">
				<p>max</p>
				{{ form_widget(form.maxHeight, {
                    attr: {
                        class: "focus:ring-indigo-500 focus:border-indigo-500 w-20 sm:text-sm border-slate-800 bg-slate-200 rounded-md border-solid border-2",
                    }
                }) }}
			</div>
		</div>

		<div class="flex relative items-end ml-2">
			{{ form_label(form.minWidth, "Largeur", {
                label_attr: {
                    class: "block text-sm font-medium text-gray-700 "
                }
            }) }}
			<div class="flex flex-col items-center mt-1 relative rounded-md shadow-sm ml-2">
				<p>min</p>
				{{ form_widget(form.minWidth, {
                    attr: {
                        class: "focus:ring-indigo-500 focus:border-indigo-500 w-20 sm:text-sm border-slate-800 bg-slate-200 rounded-md border-solid border-2",
                    }
                }) }}
			</div>
			<div class="flex flex-col items-center mt-1 relative rounded-md shadow-sm ml-2">
				<p>max</p>
				{{ form_widget(form.maxWidth, {
                    attr: {
                        class: "focus:ring-indigo-500 focus:border-indigo-500 w-20 sm:text-sm border-slate-800 bg-slate-200 rounded-md border-solid border-2",
                    }
                }) }}
			</div>
		</div>

		<div class="flex relative items-end ml-2">
			{{ form_label(form.minDepth, "Profondeur", {
                label_attr: {
                    class: "block text-sm font-medium text-gray-700 "
                }
            }) }}
			<div class="flex flex-col items-center mt-1 relative rounded-md shadow-sm ml-2">
				<p>min</p>
				{{ form_widget(form.minDepth, {
                    attr: {
                        class: "focus:ring-indigo-500 focus:border-indigo-500 w-20 sm:text-sm border-slate-800 bg-slate-200 rounded-md border-solid border-2",
                    }
                }) }}
			</div>
			<div class="flex flex-col items-center mt-1 relative rounded-md shadow-sm ml-2">
				<p>max</p>
				{{ form_widget(form.maxDepth, {
                    attr: {
                        class: "focus:ring-indigo-500 focus:border-indigo-500 w-20 sm:text-sm border-slate-800 bg-slate-200 rounded-md border-solid border-2",
                    }
                }) }}
			</div>
		</div>

	</div>
	<div class="flex items-center ml-2 mt-4">
		{{ form_label(form.price, "Prix maximum (€)", {
                label_attr: {
                    class: "block text-sm font-medium text-gray-700 "
                }
    		}) }}
		<div class="mt-1 relative rounded-md shadow-sm ml-2">
			{{ form_widget(form.price, {
                    attr: {
                        class: "focus:ring-indigo-500 focus:border-indigo-500 w-20 sm:text-sm border-slate-800 bg-slate-200 rounded-md border-solid border-2",
                        placeholder: "0",
                    }
                }) }}
		</div>
	</div>

	<div class="flex items-center ml-2 mt-2">
		<button id="btn" class="mx-auto my-2 group relative flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-orange hover:bg-orange-light focus:outline-none focus:ring-2 focus:ring-offset-2">
			{{ button_label|default('Rechercher') }}
		</button>
	</div>
</div>

{{ form_end(form) }}
