{{ form_start(form) }}
	<div class="justify-center flex flex-wrap mx-1"> <div class="flex relative items-center">
		{{ form_label(form.height, 'H', {
    'label_attr': {'class': 'block text-sm font-medium text-gray-700 '}
        }) }}
		<div class="mt-1 relative rounded-md shadow-sm ml-2">
			{{ form_widget(form.height, {
            'attr': {'class': 'focus:ring-indigo-500 focus:border-indigo-500 w-20 pr-12 sm:text-sm border-slate-800 bg-slate-200 rounded-md border-solid border-2', 'placeholder': '0'}
        }) }}
		</div>
	</div>

	<div class="flex relative items-center ml-2">
		{{ form_label(form.width, 'L', {
    'label_attr': {'class': 'block text-sm font-medium text-gray-700 '}
        }) }}
		<div class="mt-1 relative rounded-md shadow-sm ml-2">
			{{ form_widget(form.width, {
            'attr': {'class': 'focus:ring-indigo-500 focus:border-indigo-500 w-20 pr-12 sm:text-sm border-slate-800 bg-slate-200 rounded-md border-solid border-2', 'placeholder': '0'}
        }) }}
		</div>
	</div>

	<div class="flex items-center ml-2">
    {{ form_label(form.depth, 'P', {
    'label_attr': {'class': 'block text-sm font-medium text-gray-700 '}
        }) }}
		<div class="mt-1 relative rounded-md shadow-sm ml-2">
			{{ form_widget(form.depth, {
            'attr': {'class': 'focus:ring-indigo-500 focus:border-indigo-500 w-20 pr-12 sm:text-sm border-slate-800 bg-slate-200 rounded-md border-solid border-2', 'placeholder': '0'}
        }) }}
		</div>
	</div>

	<div class="flex items-center ml-2">
		<button id="btn" class="mx-auto my-2 group relative flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-orange-light hover:bg-orange focus:outline-none focus:ring-2 focus:ring-offset-2">
			{{ button_label|default('Search') }}
		</button>
	</div>
</div>
{{ form_end(form) }}
