{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>Product index</h1>
    <div class="product_box" style="display: flex; justify-content: space-around; flex-wrap: wrap">
        {% for product in products %}

        <div class="product">
        <h2>{{ product.name }}</h2>
        <a href="{{ product.url }}" target="_blank"><img src="{{ product.picture }}" width="300em" height="300em"></a><br>
        <div class="dimensions">
            <i>Hauteur : {{ product.height }} cm<br>Largeur : {{ product.width }} cm<br>Profondeur : {{ product.depth }} cm</i>
        </div>
        <a href="{{ path('product_show', {'id': product.id}) }}">Voir le produit</a>
        {{ include('product/_delete_form.html.twig') }}
        </div>

        {% else %}
            <div>
                <p>No products found</p>
            <div>
        {% endfor %}
    </div>
{% endblock %}