<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="{{ asset('build/images/favicon.png') }}"/>
		<link href="http://fonts.cdnfonts.com/css/modern-no-20" rel="stylesheet">
		<title>
			{% block title %}Pile Poil
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="bg-gray-200">
		<header class="sticky top-0 z-50 bg-gray-200">
			<div class="my-2 flex flex-col sm:flex-row items-center justify-center sm:justify-start sm:items-start">
				<a href="{{ path('home') }}" class="shrink-0">
					<img src="{{ asset('build/images/logo.png') }}" alt="Logo de pile poil" class="w-20 h-20">
				</a>
				{% block header %}{% endblock %}
			</div>
		</header>
		{% block nav %}{% endblock %}
		{% block body %}{% endblock %}
	</body>
</html>
